/*Custom properties*/
:root{
    --Primario: #1073ba;
    --Secundario: #00da55;
    --gris: #3b3b3b;
    --negro:#1f1e1e;
    --grisClaro: #e1e1e1;
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
  }

    /*Globales*/